@charset "UTF-8";
/*------------------------------------*\
    $LT-IE9
\*------------------------------------*/
/**
 * Esta hoja de estilos elimina los mediaqueries si trabajamos mobile first
 * y crea una clase para ellos. La clase está en la variable $no-mq-classname.
 */
/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * Contenido..................... Esto que lees

 * Variables..................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de LESS

 * Helpers....................... Clases de ayuda

 * Reset......................... Reinicio de valores CSS

 * Fuentes....................... Fuentes que vamos a importar

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Botones....................... Estilos de Botones, skins y variantes

 * Elementos..................... Elementos varios como Imagen, HR, etc...

 * Tipografía.................... Encabezados, small, párrafos, listas, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tu quieres ;)

 * Paginación.................... Estilos básicos para las paginaciones

 * Texturas...................... Badges, cajas y wells

 * Breakpoints................... Importamos breakpoints basados en las variables @bp$

 * Patron........................ Estilos para la guía de patrones
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 *
 * Definimos y configuramos las variables CSS que vamos a utilizar
 *
 */
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/**
 * "Start with the small screen first, then expand until it looks like shit. Time to insert a breakpoint!"
 */
/*------------------------------------*\
    $no-mediaquery-class
\*------------------------------------*/
/**
 * Si decides incluir lt-ie9 para dar soporte a navegadores sin estilos
 * esta es la clase que se añadirá a todos los elementos.
 */
/*------------------------------------*\
    $IMAGE-DIR
\*------------------------------------*/
/**
 * Con agregar esta variable a las imágenes declaradas en CSS apañamos:
 */
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * Definimos elementos constantes del layout
 */
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
/*------------------------------------*\
    $TAMAÑOS
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Brand stuff
 */
/**
 * Escala de grises
 * A veces no queremos que el negro sea "negro" o el blanco "blanco", puedes cambiarlos.
 */
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
/**
 * Definimos Colores y elementos de popups, mensajes de alerta, etc...
 */
/* Colores sociales -> son los colores corporativos, pero cambiadlos
 * si hace falta. (también podéis añadir más)  ///////////////////////
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
* Centrar y dar un ancho máximo igual a $pagemaxwidth.
*/
/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
/**
* The ghost, nudged to maintain perfect centering
*/
/**
* Escondemos el texto solo VISUALMENTE
*/
/**
* Escondemos el texto de VISUALMENTE y SCREENREADERS
*/
/**
* Escondemos pero mantenemos layout.
*/
/**
* Visualmente escondido, pero se puede detectar con teclado (focus).
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible; }

/**
* Clear floats.
* http://bit.ly/1e3YaBH
*/
/**
* Gradientes los ocnvertimos en placeholders porque imprime 10 millones de
* líneas inútiles en el CSS
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
/*
 * Por defecto incluyo una fuente de icomoon (http://icomoon.io/)
 * con 5 iconos que se encuentra en la carpeta /fonts.
 * Ve y adàptalos a tu web.
 */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cloud-download, .icon-cloud-upload, .icon-user, .icon-css3, .icon-eye {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-cloud-download:before {
  content: "\e009"; }

.icon-cloud-upload:before {
  content: "\e000"; }

.icon-user:before {
  content: "\e001"; }

.icon-css3:before {
  content: "\f13c"; }

.icon-eye:before {
  content: "\e002"; }

/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: #ff944d; }
  a:visited {
    color: #ff944d; }
  a:hover {
    text-decoration: underline;
    color: #ff751a; }
  a:focus {
    outline: thin dotted;
    color: #ff751a; }
  a:hover, a:active {
    outline: 0; }

/*------------------------------------*\
    $TABLAS
\*------------------------------------*/
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }
  table th,
  table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid white;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: left; }
  table th {
    font-weight: bold; }
  table thead th {
    vertical-align: bottom; }
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0; }
  table tbody + tbody {
    border-top: 2px solid white; }
  table tbody tr td,
  table tbody tr th {
    -webkit-transition: background-color 0.25s 0 linear;
    -moz-transition: background-color 0.25s 0 linear;
    -ms-transition: background-color 0.25s 0 linear;
    -o-transition: background-color 0.25s 0 linear;
    transition: background-color 0.25s 0 linear; }
  table tbody tr:hover td,
  table tbody tr:hover th {
    background-color: white; }

.table-condensed th,
.table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid white;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed; }
  .table-bordered th,
  .table-bordered td {
    border-left: 1px solid white; }
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: white; }

/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */
/**
* .btn es la clase principal para definir un botón
*/
.btn {
  display: inline-block;
  line-height: 2.25em;
  color: #262626;
  text-align: center;
  vertical-align: middle;
  font-size: 100%;
  white-space: nowrap;
  background-color: #ffa366;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 2px;
  	/**
   	* Nadie quiere un botón con texto subrayado cuando
   	* hacemos hover.
   	*/ }
  .btn:hover {
    text-decoration: none; }
  .btn:active, .btn:focus {
    outline: none; }
  .btn:visited {
    color: #262626; }

/*------------------------------------*\
    $BOTONES-VARIANTES
\*------------------------------------*/
/**
 * Variantes de los botones: color para dar sensaciones.
 *
 */
/**
* Inputs con estilo de botones
*/
input[type="submit"].btn:hover {
  border-color: #ff8533; }

/**
* Botón no disponible
*/
.btn--disabled {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default; }

/**
* Botón de Error
*/
.btn--error {
  background-color: #da4f49;
  color: #48110f; }
  .btn--error:hover {
    color: #fcf3f3; }
  .btn--error:visited {
    color: #48110f; }

/**
* Botón de Info
*/
.btn--info {
  background-color: #a5dddf;
  color: #308588; }
  .btn--info:hover {
    color: white; }
  .btn--info:visited {
    color: #308588; }

/**
* Botón principal
*/
.btn--primary {
  background-color: #ff944d;
  color: white; }
  .btn--primary:hover {
    color: white; }
  .btn--primary:visited {
    color: #803300; }

/**
* Botón de OK
*/
.btn--success {
  background-color: #5bb75b;
  color: #153115; }
  .btn--success:hover {
    color: #e9f5e9; }
  .btn--success:visited {
    color: #153115; }

/**
* Botón de advertencia
*/
.btn--warning {
  background-color: #da4f49;
  color: #48110f; }
  .btn--warning:hover {
    color: #fcf3f3; }
  .btn--warning:visited {
    color: #48110f; }

.btn--inactive,
.btn--inactive:hover,
.btn--inactive:active,
.btn--inactive:focus {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default; }

/*------------------------------------*\
    $BOTONES-TAMAÑOS
\*------------------------------------*/
/**
 * Variantes de los botones por tamaño.
 *
 */
.btn--mini {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 1.5; }

.btn--small {
  padding-right: 1.5em;
  padding-left: 1.5em;
  line-height: 2; }

.btn--large {
  padding-right: 3em;
  padding-left: 3em;
  line-height: 3; }

/*------------------------------------*\
    $BOTONES-GRUPOS
\*------------------------------------*/
/**
 * Con esta clase podemos agrupar los botones
 * en grupos horizontales.
 *
 */
.btn--group {
  position: relative;
  *margin-left: .3em; }

.btn--group .btn {
  position: relative;
  border-radius: 0;
  float: left;
  margin-left: -1px; }

.btn--group .btn:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn--group .btn:last-child {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn--group .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn--group .btn.large:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/*------------------------------------*\
    $ELEMENTOS
\*------------------------------------*/
hr {
  clear: both;
  display: block;
  margin: 3em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid white; }

/*------------------------------------*\
    $ELEMENTOS-IMÁGENES
\*------------------------------------*/
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

.img--rounded {
  border-radius: 8px; }

.img--polaroid {
  padding: 12px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img--circle {
  border-radius: 100%; }

/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
figure {
  margin-bottom: 1.5em; }
  figure img {
    margin-bottom: 0.375em; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
    font-style: italic;
    color: gray; }

/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1.altheader,
  h2.altheader,
  h3.altheader,
  h4.altheader,
  h5.altheader,
  h6.altheader {
    color: gray;
    text-transform: uppercase; }

h1 small,
h2 small,
h3 small {
  font-weight: normal;
  display: block;
  color: gray; }

h1, .h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2; }

h2, .h2 {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2; }

h3, .h3 {
  margin-bottom: 0.375em;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.3; }

h4, .h4 {
  margin-bottom: 0.25em;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25; }

h5, .h5 {
  margin-bottom: 0.25em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }

h6, .h6 {
  margin-bottom: 0.25em;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  line-height: 1.5em; }

.intro {
  font-weight: bold; }

small {
  font-size: 12px;
  font-size: 0.75rem;
  color: gray; }

ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 24px; }

li ul,
li ol {
  margin: 0; }

blockquote {
  margin: 0 0 1.5em 0;
  padding-left: 24px;
  border-left: 2px solid white;
  font-family: Georgia, Times, "Times New Roman";
  font-style: normal; }
  blockquote p {
    font-size: 18px;
    font-size: 1.125rem;
    color: gray;
    font-style: italic; }

q {
  quotes: none;
  font-style: italic; }

blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content: ""; }

cite {
  font-style: normal; }

dl,
dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted white;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: white;
  color: #262626;
  text-decoration: none; }

mark {
  background-color: yellow;
  color: #262626; }

pre,
code,
kbd,
samp {
  font-family: "Courier New", monospace;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0;
  vertical-align: 1.5em; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/**
*
* Le asignamos la clase .nav al ul que contenga la navegación:

		 <ul class="nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav > li {
  position: relative;
  display: inline-block; }
  .nav > li > a {
    position: relative;
    padding: 12px; }
    .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: white; }

/**
*
* .nav--fit extiende a .nav y alarga la navegación
* para que ocupe el 100% de su contenedor

		 <ul class="nav nav--fit">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav--fit {
  display: table;
  width: 100%; }
  .nav--fit > li {
    display: table-cell; }
    .nav--fit > li > a {
      display: block; }

/**
*
* .nav--tabs extiende a .nav y crea la base para una navegación
* en pestañas.

		 <ul class="nav nav--tabs">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav--tabs {
  border-bottom: 1px solid white; }
  .nav--tabs > li {
    margin-bottom: -1px; }
    .nav--tabs > li > a {
      display: block; }

/*------------------------------------*\
    $PAGINACION
\*------------------------------------*/
/**
 * Paginación básica
 * Requiere algunos comentarios para evitar el espacio causado por
 * `display:inline-block;`.
 *
   <ol class="nav  pagination">
       <li class=pagination__first>First</li>
       <li class=pagination__prev>Previous</li>
       <li><a href=/page/1>1</a></li>
       <li><a href=/page/2>2</a></li>
       <li class=current><a href=/page/3>3</a></li>
       <li><a href=/page/4>4</a></li>
       <li><a href=/page/5>5</a></li>
       <li class=pagination__next><a href=/page/next>Next</a></li>
       <li class=pagination__last><a href=/page/last>Last</a></li>
   </ol>
 *
 *
 * Thanks to @ccswizardry for this simple chunk of code!
 */
.pagination {
  text-align: center;
  /**
   * Remove whitespace caused by `inline-block`.
   */
  letter-spacing: -0.31em;
  word-spacing: -0.43em; }

.pagination > li {
  display: inline-block;
  padding: 12PX;
  letter-spacing: normal;
  word-spacing: normal; }

.pagination > li > a {
  padding: 12PX;
  margin: -12px; }

.pagination--first a:before {
  content: "\00AB" "\00A0"; }

.pagination--last a:after {
  content: "\00A0" "\00BB"; }

/*------------------------------------*\
    $FORMULARIOS
\*------------------------------------*/
form {
  margin: 0 0 1.5em 0; }
  form fieldset {
    margin-bottom: 1.5em;
    padding: 0;
    border-width: 0; }
  form legend {
    display: block;
    width: 100%;
    margin-bottom: 3em;
    padding: 0;
    color: #262626;
    border: 0;
    border-bottom: 1px solid #bfbfbf;
    white-space: normal; }
    form legend small {
      font-size: 14px;
      font-size: 0.875rem;
      color: #bfbfbf; }
  form p {
    margin-bottom: 0.75em; }
  form ul {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0; }
  form br {
    display: none; }

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 2px;
  vertical-align: baseline;
  *vertical-align: middle; }

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

label {
  display: block;
  margin-bottom: 0.1875em;
  font-weight: bold;
  color: #262626;
  cursor: pointer; }
  label input,
  label textarea,
  label select {
    display: block; }

input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.375em;
  background-color: white;
  border: 1px solid #bfbfbf;
  color: #262626; }
  input:hover,
  textarea:hover,
  select:hover {
    border-color: gray; }

.input-mini {
  width: 60px; }

.input-small {
  width: 90px; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  border: 0 \9; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  box-shadow: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible; }

select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px; }

select {
  background-color: white;
  font-size: 13px;
  font-size: 0.8125rem; }

select[multiple],
select[size] {
  height: auto; }

textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  overflow: auto;
  vertical-align: top; }

input[type="hidden"] {
  display: none; }

.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed; }

input:focus,
textarea:focus {
  border-color: #ff944d, 40%;
  outline: 0;
  outline: thin dotted \9; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 0.875rem; }

input:-moz-placeholder {
  font-size: 14px;
  font-size: 0.875rem; }

.help-block,
.help-inline {
  color: gray; }

.help-block {
  display: block;
  margin-bottom: 0.75em; }

.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px; }

.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0; }

.form-inline label {
  display: inline-block; }

.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px; }

.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0; }

.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0; }

.form-search label {
  display: inline-block; }

.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px; }

/**
* Validamos los formularios que son "required":
* http://coolvillage.es/ayuda-al-usuario-a-rellenar-formularios-con-css/
*/
input:required:focus:invalid {
  background-color: #fef2e7;
  border: 1px solid #fce4cf; }

input:required:focus:valid {
  background-color: #e9f5e9;
  border: 1px solid #5bb75b; }

/*------------------------------------*\
    $SITIO
\*------------------------------------*/
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #262626; }

/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
.alert {
  margin-bottom: 1.5em;
  padding: 8px 35px 8px 14px;
  background-color: #fce4cf;
  border: 1px solid #f6ae6f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #904809;
  border-radius: 2px; }
  .alert .alert--heading {
    color: inherit; }
  .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    float: right;
    font-size: 21px;
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 18px;
    color: inherit; }

.alert--success {
  background-color: #c5e6c5;
  border-color: #a2d6a2;
  color: #347834; }

.alert--warning {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #9d2520; }

.alert--error {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #da4f49; }

.alert--info {
  background-color: #cbebec;
  border-color: #7fcfd2;
  color: #236062; }

.alert--inverse {
  background-color: #242786;
  border-color: black;
  color: white; }

.alert--block {
  padding-top: 14px;
  padding-bottom: 14px; }
  .alert--block .alert--heading {
    margin-bottom: 0.1875em;
    font-size: inherit;
    font-weight: bold; }
  .alert--block > p,
  .alert--block > ul {
    margin-bottom: 0; }
  .alert--block p + p {
    margin-top: 5px; }

.badge {
  padding: 1px 9px 2px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2px;
  color: #262626;
  background-color: #ff944d;
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear; }
  .badge:hover {
    color: #262626;
    text-decoration: none;
    cursor: pointer; }

.badge--error {
  background-color: #da4f49; }
  .badge--error:hover {
    background-color: #9d2520; }

.badge--warning {
  background-color: #da4f49; }
  .badge--warning:hover {
    background-color: #9d2520; }

.badge--success {
  background-color: #a5dddf; }
  .badge--success:hover {
    background-color: #5ac1c4; }

.badge--info {
  background-color: #a5dddf;
  color: #236062; }
  .badge--info:hover {
    background-color: #5ac1c4; }

.badge--inverse {
  background-color: #a5dddf;
  color: white; }
  .badge--inverse:hover {
    background-color: #5ac1c4;
    color: white; }

.well {
  min-height: 21px;
  padding: 11px;
  border-radius: 2px;
  margin-bottom: 1.5em;
  background-color: white;
  border: 1px solid #ffc299;
  -webkit-box-shadow: inset 0 1px 10px #ffe0cc;
  box-shadow: inset 0 1px 10px #ffe0cc; }
  .well p:last-child {
    margin-bottom: 0; }

.well--large {
  padding: 22px; }

.well--small {
  padding: 6px; }

::-moz-selection {
  background-color: white;
  color: #ff944d;
  text-shadow: none; }

::selection {
  background-color: white;
  color: #ff944d;
  text-shadow: none; }

/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /*------------------------------------*\
      $2x
  \*------------------------------------*/
  /*
   * Breakpoint para dispositivos retina
   */ }
