@charset "UTF-8";
/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .scss) que se can
 * a compilar en el CSS definitivo: /css/style.css.
 * Si no usas algún módulo, es recomendable que elimines
 * o comentes su inclusión para no tener estilos innecesarios en tu CSS final
 * y optimizar lo máximo posible.
 */
/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * Contenido..................... Esto que lees

 * Variables..................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de LESS

 * Helpers....................... Clases de ayuda

 * Reset......................... Reinicio de valores CSS

 * Fuentes....................... Fuentes que vamos a importar

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Botones....................... Estilos de Botones, skins y variantes

 * Elementos..................... Elementos varios como Imagen, HR, etc...

 * Tipografía.................... Encabezados, small, párrafos, listas, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tu quieres ;)

 * Paginación.................... Estilos básicos para las paginaciones

 * Texturas...................... Badges, cajas y wells

 * Breakpoints................... Importamos breakpoints basados en las variables @bp$

 * Patron........................ Estilos para la guía de patrones
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/* Colores sociales -> son los colores corporativos, pero cambiadlos 
 * si hace falta. (también podéis añadir más)  ///////////////////////
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS (Shorthands)
\*------------------------------------*/
/**
* Centrar y dar un ancho máximo igual a $pagemaxwidth.
*/
/**
* The ghost, nudged to maintain perfect centering
*/
.vcenter:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

/**
* Escondemos el texto solo VISUALMENTE
*/
/**
* Escondemos el texto de VISUALMENTE y SCREENREADERS
*/
/**
* Escondemos pero mantenemos layout.
*/
/**
* Visualmente escondido, pero se puede detectar con teclado (focus).
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible; }

/**
* Clear floats.
*/
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * Que en realidad es un normalize:
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

ul li {
  list-style-type: none; }

/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
/*
 * Por defecto incluyo una fuente de icomoon (http://icomoon.io/)
 * con 5 iconos que se encuentra en la carpeta /fonts.
 * Ve y adàptalos a tu web.
 */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cloud-download, .icon-cloud-upload, .icon-user, .icon-css3, .icon-eye {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-cloud-download:before {
  content: "\e009"; }

.icon-cloud-upload:before {
  content: "\e000"; }

.icon-user:before {
  content: "\e001"; }

.icon-css3:before {
  content: "\f13c"; }

.icon-eye:before {
  content: "\e002"; }

/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: #00a1cb; }
  a:visited {
    color: #00a1cb; }
  a:hover {
    text-decoration: underline;
    color: #007998; }
  a:focus {
    outline: thin dotted;
    color: #007998; }
  a:hover, a:active {
    outline: 0; }

/*------------------------------------*\
    $TABLAS
\*------------------------------------*/
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }
  table th,
  table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #98eaff;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: left; }
  table th {
    font-weight: bold; }
  table thead th {
    vertical-align: bottom; }
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0; }
  table tbody + tbody {
    border-top: 2px solid #98eaff; }
  table tbody tr td,
  table tbody tr th {
    -webkit-transition: background-color 0.25s 0 linear;
    -moz-transition: background-color 0.25s 0 linear;
    -ms-transition: background-color 0.25s 0 linear;
    -o-transition: background-color 0.25s 0 linear;
    transition: background-color 0.25s 0 linear; }
  table tbody tr:hover td,
  table tbody tr:hover th {
    background-color: #cbf4ff; }

.table-condensed th,
.table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid #98eaff;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed; }
  .table-bordered th,
  .table-bordered td {
    border-left: 1px solid #98eaff; }
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #feffff; }

/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */
/**
* .btn es la clase principal para definir un botón
*/
.btn {
  display: inline-block;
  *zoom: 1;
  line-height: 3em;
  color: darkergrey;
  text-align: center;
  vertical-align: middle;
  font-size: 100%;
  white-space: nowrap;
  background-color: #e6e6e6;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 2px;
  	/**
   	* Nadie quiere un botón con texto subrayado cuando
   	* hacemos hover.
   	*/ }
  .btn:hover {
    text-decoration: none; }
  .btn:active, .btn:focus {
    outline: none; }
  .btn:visited {
    color: darkergrey; }

/*------------------------------------*\
    $VARIANTES
\*------------------------------------*/
/**
 * Variantes de los botones: color para dar sensaciones.
 *
 */
/**
* Inputs con estilo de botones
*/
input[type="submit"].btn:hover {
  border-color: #cccccc; }

/**
* Botón no disponible
*/
.btn--disabled {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default; }

/**
* Botón de Error
*/
.btn--error {
  background-color: #da4f49;
  color: #48110f; }
  .btn--error:hover {
    color: #fcf3f3; }
  .btn--error:visited {
    color: #48110f; }

/**
* Botón de Info
*/
.btn--info {
  background-color: #a5dddf;
  color: #308588; }
  .btn--info:hover {
    color: white; }
  .btn--info:visited {
    color: #308588; }

/**
* Botón principal
*/
.btn--primary {
  background-color: #00a1cb;
  color: white; }
  .btn--primary:hover {
    color: #98eaff; }
  .btn--primary:visited {
    color: black; }

/**
* Botón de OK
*/
.btn--success {
  background-color: #5bb75b;
  color: #153115; }
  .btn--success:hover {
    color: #e9f5e9; }
  .btn--success:visited {
    color: #153115; }

/**
* Botón de advertencia
*/
.btn--warning {
  background-color: #faa732;
  color: #5e3802; }
  .btn--warning:hover {
    color: #fffcf9; }
  .btn--warning:visited {
    color: #5e3802; }

.btn--inactive,
.btn--inactive:hover,
.btn--inactive:active,
.btn--inactive:focus {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default;
  cursor: text; }

/*------------------------------------*\
    $TAMAÑOS
\*------------------------------------*/
/**
 * Variantes de los botones por tamaño.
 *
 */
.btn--mini {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 2; }

.btn--small {
  padding-right: 1.5em;
  padding-left: 1.5em;
  line-height: 3; }

.btn--large {
  padding-right: 3em;
  padding-left: 3em;
  line-height: 4; }

/*------------------------------------*\
    $GRUPOS
\*------------------------------------*/
/**
 * Con esta clase podemos agrupar los botones
 * en grupos horizontales.
 *
 */
.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em; }

.btn-group .btn {
  position: relative;
  border-radius: 0;
  float: left;
  margin-left: -1px; }

.btn-group .btn:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn-group .btn:last-child {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn-group .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn-group .btn.large:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

/*------------------------------------*\
    $ELEMENTOS
\*------------------------------------*/
hr {
  clear: both;
  display: block;
  margin: 3em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #00c9fe; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

.img-rounded {
  border-radius: 8px; }

.img-polaroid {
  padding: 12px;
  background-color: white;
  border: 1px solid #00c9fe;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
  border-radius: 100%; }

figure {
  margin-bottom: 1.5em; }
  figure img {
    margin-bottom: 0.375em; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
    font-style: italic;
    color: gray; }

/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1.altheader,
  h2.altheader,
  h3.altheader,
  h4.altheader,
  h5.altheader,
  h6.altheader {
    color: gray;
    text-transform: uppercase; }

h1 small,
h2 small,
h3 small {
  font-weight: normal;
  display: block;
  color: gray; }

h1,
.h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2; }

h2,
.h2 {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2; }

h3,
.h3 {
  margin-bottom: 0.375em;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.3; }

h4,
.h4 {
  margin-bottom: 0.25em;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25; }

h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 0.25em; }

h6,
.h6 {
  margin-bottom: 0.25em;
  font-size: 14px;
  font-size: 0.875rem; }

.header h1,
.header h2,
.header h3 {
  float: left;
  margin-right: 24px; }
  .header h1 a,
  .header h2 a,
  .header h3 a {
    display: block;
    position: relative;
    top: 6px;
    float: right;
    padding: 4px 12px;
    font-size: 14px;
    font-size: 0.875rem;
    background-color: white; }
  .header h1:hover,
  .header h2:hover,
  .header h3:hover {
    background-color: white; }

.header .a-rss,
.header .a-rss:hover {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  background: transparent url(../img/a-rss.png) no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  line-height: 1.5em; }

.intro {
  font-weight: bold; }

small {
  font-size: 12px;
  font-size: 0.75rem;
  color: gray; }

ul,
ol {
  margin: 0 0 1.5em-pxToEm(24px);
  padding: 0 0 0 24px; }

li ul,
li ol {
  margin: 0; }

blockquote {
  margin: 0 0 1.5em-pxToEm(24px);
  padding-left: 24px;
  border-left: 2px solid #00c9fe;
  font-family: Georgia, Times, "Times New Roman";
  font-style: normal; }
  blockquote p {
    font-size: 18px;
    font-size: 1.125rem;
    color: gray;
    font-style: italic; }

q {
  quotes: none;
  font-style: italic; }

blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content: ""; }

cite {
  font-style: normal; }

dl,
dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted #00c9fe;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: white;
  color: darkergrey;
  text-decoration: none; }

mark {
  background-color: yellow;
  color: darkergrey; }

pre,
code,
kbd,
samp {
  font-family: "Courier New", monospace;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0;
  vertical-align: baselineheight; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/*------------------------------------*\
    $TAMAÑOS-FUENTES
\*------------------------------------*/
/**
 * Modificadores del tamaño de las fuentes.
 */
.small {
  font-size: 12px;
  font-size: 0.75rem; }

.huge {
  font-size: 18px;
  font-size: 1.125rem; }

/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/**
*
* Le asignamos la clase .nav al ul que contenga la navegación:

		 <ul class="nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav > li {
  position: relative;
  display: inline-block; }
  .nav > li > a {
    position: relative;
    padding: 12px; }
    .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: #00c9fe; }

/**
*
* .nav--fit extiende a .nav y alarga la navegación
* para que ocupe el 100% de su contenedor

		 <ul class="nav nav--fit">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav--fit {
  display: table;
  width: 100%; }
  .nav--fit > li {
    display: table-cell; }
    .nav--fit > li > a {
      display: block; }

/**
*
* .nav--tabs extiende a .nav y crea la base para una navegación
* en pestañas.

		 <ul class="nav nav--tabs">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav--tabs {
  border-bottom: 1px solid #00c9fe; }
  .nav--tabs > li {
    margin-bottom: -1px; }
    .nav--tabs > li > a {
      display: block; }

/*------------------------------------*\
    $PAGINACION
\*------------------------------------*/
/**
 * Paginación básica
 * Requiere algunos comentarios para evitar el espacio causado por
 * `display:inline-block;`.
 *
   <ol class="nav  pagination">
       <li class=pagination__first>First</li>
       <li class=pagination__prev>Previous</li>
       <li><a href=/page/1>1</a></li>
       <li><a href=/page/2>2</a></li>
       <li class=current><a href=/page/3>3</a></li>
       <li><a href=/page/4>4</a></li>
       <li><a href=/page/5>5</a></li>
       <li class=pagination__next><a href=/page/next>Next</a></li>
       <li class=pagination__last><a href=/page/last>Last</a></li>
   </ol>
 *
 *
 * Thanks to @ccswizardry for this simple chunk of code!
 */
.pagination {
  text-align: center;
  /**
   * Remove whitespace caused by `inline-block`.
   */
  letter-spacing: -0.31em;
  word-spacing: -0.43em; }

.pagination > li {
  display: inline-block;
  padding: 12PX;
  letter-spacing: normal;
  word-spacing: normal; }

.pagination > li > a {
  padding: 12PX;
  margin: -12px; }

.pagination__first a:before {
  content: "\00AB" "\00A0"; }

.pagination__last a:after {
  content: "\00A0" "\00BB"; }

/*------------------------------------*\
    $FORMULARIOS
\*------------------------------------*/
form {
  margin: 0 0 1.5em 0; }
  form fieldset {
    margin-bottom: 1.5em;
    padding: 0;
    border-width: 0; }
  form legend {
    display: block;
    width: 100%;
    margin-bottom: 3em;
    *margin-left: -7px;
    padding: 0;
    color: darkergrey;
    border: 0;
    border-bottom: 1px solid #bfbfbf;
    white-space: normal; }
    form legend small {
      font-size: 14px;
      font-size: 0.875rem;
      color: #bfbfbf; }
  form p {
    margin-bottom: 0.75em; }
  form ul {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0; }
  form br {
    display: none; }

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 2px;
  vertical-align: baseline;
  *vertical-align: middle; }

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

label {
  display: block;
  margin-bottom: 0.1875em;
  font-weight: bold;
  color: darkergrey;
  cursor: pointer; }
  label input,
  label textarea,
  label select {
    display: block; }

input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.375em;
  background-color: white;
  border: 1px solid #bfbfbf;
  color: darkergrey; }
  input:hover,
  textarea:hover,
  select:hover {
    border-color: gray; }

.input-mini {
  width: 60px; }

.input-small {
  width: 90px; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  border: 0 \9; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  box-shadow: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible; }

select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px; }

select {
  background-color: white;
  font-size: 13px;
  font-size: 0.8125rem; }

select[multiple],
select[size] {
  height: auto; }

textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  overflow: auto;
  vertical-align: top; }

input[type="hidden"] {
  display: none; }

.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed; }

input:focus,
textarea:focus {
  border-color: #00a1cb, 40%;
  outline: 0;
  outline: thin dotted \9; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 0.875rem; }

input:-moz-placeholder {
  font-size: 14px;
  font-size: 0.875rem; }

.help-block,
.help-inline {
  color: gray; }

.help-block {
  display: block;
  margin-bottom: 0.75em; }

.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px; }

.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0; }

.form-inline label {
  display: inline-block; }

.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px; }

.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0; }

.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0; }

.form-search label {
  display: inline-block; }

.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px; }

/**
* Validamos los formularios que son "required": http://coolvillage.es/ayuda-al-usuario-a-rellenar-formularios-con-css/
*/
input:required:focus:invalid {
  background-color: #fef2e7; }

input:required:focus:valid {
  background-color: #d7edd7; }

/*------------------------------------*\
    $SITIO
\*------------------------------------*/
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  background: white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  color: darkergrey; }

/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
.alert {
  margin-bottom: 1.5em;
  padding: 8px 35px 8px 14px;
  background-color: #fce4cf;
  border: 1px solid #f6ae6f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #904809;
  border-radius: 2px; }
  .alert .alert-heading {
    color: inherit; }
  .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    float: right;
    font-size: 21px;
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 18px;
    color: inherit; }

.alert-success {
  background-color: #c5e6c5;
  border-color: #a2d6a2;
  color: #347834; }

.alert-warning {
  background-color: #fee7c7;
  border-color: #fcd296;
  color: #c17305; }

.alert-error {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #da4f49; }

.alert-info {
  background-color: #cbebec;
  border-color: #7fcfd2;
  color: #236062; }

.alert-inverse {
  background-color: #414141;
  border-color: black;
  color: white; }

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px; }
  .alert-block .alert-heading {
    margin-bottom: 0.1875em;
    font-size: inherit;
    font-weight: bold; }
  .alert-block > p,
  .alert-block > ul {
    margin-bottom: 0; }
  .alert-block p + p {
    margin-top: 5px; }

.badge {
  padding: 1px 9px 2px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2px;
  color: darkergrey;
  background-color: #00a1cb;
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear; }
  .badge:hover {
    color: darkergrey;
    text-decoration: none;
    cursor: pointer; }

.badge-error {
  background-color: #da4f49; }
  .badge-error:hover {
    background-color: #9d2520; }

.badge-warning {
  background-color: #faa732; }
  .badge-warning:hover {
    background-color: #c17305; }

.badge-success {
  background-color: #5bb75b; }
  .badge-success:hover {
    background-color: #347834; }

.badge-info {
  background-color: #a5dddf;
  color: #236062; }
  .badge-info:hover {
    background-color: #5ac1c4; }

.badge-inverse {
  background-color: #414141;
  color: white; }
  .badge-inverse:hover {
    background-color: #0e0e0e;
    color: white; }

.basegrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a1cb), to(#007998));
  background-image: -webkit-linear-gradient(top, #00a1cb, #007998);
  background-color: #007998;
  background-image: -moz-linear-gradient(top, #00a1cb, #007998);
  background-image: -ms-linear-gradient(top, #00a1cb, #007998);
  background-image: -o-linear-gradient(top, #00a1cb, #007998);
  background-image: linear-gradient(top, #00a1cb, #007998);
  background-repeat: repeat-x; }

.errorgrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a1cb), to(#c72f29));
  background-image: -webkit-linear-gradient(top, #00a1cb, #c72f29);
  background-color: #c72f29;
  background-image: -moz-linear-gradient(top, #00a1cb, #c72f29);
  background-image: -ms-linear-gradient(top, #00a1cb, #c72f29);
  background-image: -o-linear-gradient(top, #00a1cb, #c72f29);
  background-image: linear-gradient(top, #00a1cb, #c72f29);
  background-repeat: repeat-x; }

.greygrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, white, #d9d9d9);
  background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, white, #d9d9d9);
  background-image: -ms-linear-gradient(top, white, #d9d9d9);
  background-image: -o-linear-gradient(top, white, #d9d9d9);
  background-image: linear-gradient(top, white, #d9d9d9);
  background-repeat: repeat-x; }

.infograd {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a5dddf), to(#7fcfd2));
  background-image: -webkit-linear-gradient(top, #a5dddf, #7fcfd2);
  background-color: #7fcfd2;
  background-image: -moz-linear-gradient(top, #a5dddf, #7fcfd2);
  background-image: -ms-linear-gradient(top, #a5dddf, #7fcfd2);
  background-image: -o-linear-gradient(top, #a5dddf, #7fcfd2);
  background-image: linear-gradient(top, #a5dddf, #7fcfd2);
  background-repeat: repeat-x; }

.inversegrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#272727));
  background-image: -webkit-linear-gradient(top, #414141, #272727);
  background-color: #272727;
  background-image: -moz-linear-gradient(top, #414141, #272727);
  background-image: -ms-linear-gradient(top, #414141, #272727);
  background-image: -o-linear-gradient(top, #414141, #272727);
  background-image: linear-gradient(top, #414141, #272727);
  background-repeat: repeat-x; }

.successgrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bb75b), to(#449b44));
  background-image: -webkit-linear-gradient(top, #5bb75b, #449b44);
  background-color: #449b44;
  background-image: -moz-linear-gradient(top, #5bb75b, #449b44);
  background-image: -ms-linear-gradient(top, #5bb75b, #449b44);
  background-image: -o-linear-gradient(top, #5bb75b, #449b44);
  background-image: linear-gradient(top, #5bb75b, #449b44);
  background-repeat: repeat-x; }

.warninggrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faa732), to(#f39106));
  background-image: -webkit-linear-gradient(top, #faa732, #f39106);
  background-color: #f39106;
  background-image: -moz-linear-gradient(top, #faa732, #f39106);
  background-image: -ms-linear-gradient(top, #faa732, #f39106);
  background-image: -o-linear-gradient(top, #faa732, #f39106);
  background-image: linear-gradient(top, #faa732, #f39106);
  background-repeat: repeat-x; }

.well {
  min-height: 21px;
  padding: 11px;
  border-radius: 2px;
  margin-bottom: 1.5em;
  background-color: white;
  border: 1px solid #99eaff;
  -webkit-box-shadow: inset 0 1px 10px #ccf4ff;
  box-shadow: inset 0 1px 10px #ccf4ff; }
  .well p:last-child {
    margin-bottom: 0; }

.well-large {
  padding: 22px; }

.well-small {
  padding: 6px; }

::-moz-selection {
  background-color: white;
  color: #00a1cb;
  text-shadow: none; }

::selection {
  background-color: white;
  color: #00a1cb;
  text-shadow: none; }

/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*
 * Cada Mediaquery se basará en la variable $bp$ e incluirá el archivo bp$.less
 */
@media only screen and (min-width: 30em) {
  /*------------------------------------*\
      $BREAKPOINT_1
  \*------------------------------------*/
  /*
   * Estilos que entrarán en el breakpoint basado en la variable $bp1
   */ }
@media only screen and (min-width: 37.5em) {
  /*------------------------------------*\
      $BREAKPOINT_2
  \*------------------------------------*/
  /*
   * Estilos que entrarán en el breakpoint basado en la variable $bp2
   */ }
@media only screen and (min-width: 48em) {
  /*------------------------------------*\
      $BREAKPOINT_3
  \*------------------------------------*/
  /*
   * Estilos que entrarán en el breakpoint basado en la variable $bp3
   */ }
@media only screen and (min-width: 56.25em) {
  /*------------------------------------*\
      $BREAKPOINT_4
  \*------------------------------------*/
  /*
   * Estilos que entrarán en el breakpoint basado en la variable $bp4
   */ }
@media only screen and (min-width: 68.75em) {
  /*------------------------------------*\
      $BREAKPOINT_5
  \*------------------------------------*/
  /*
   * Estilos que entrarán en el breakpoint basado en la variable $bp5
   */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /*------------------------------------*\
      $2x
  \*------------------------------------*/
  /*
   * Breakpoint para dispositivos retina
   */ }
/*------------------------------------*\
    $PATRONES
\*------------------------------------*/
/**
 * ESTE ARCHIVO ES USADO SÓLO  POR LA GUÍA DE PATRONES
 * en /patrones/index.html y /patrones/page.html
 * es recomendable eliminar su inclusión en el style.less
 * a la hora de compilar el CSS de la web.
 */
section {
  width: 90%;
  margin-bottom: 3em; }

.altfont {
  font-family: Georgia, Times, "Times New Roman"; }

.basefont::after {
  content: '"Helvetica Neue", Helvetica, Arial, sans-serif'; }

.altfont::after {
  content: 'Georgia, Times, "Times New Roman"'; }

.code::after {
  content: '"Courier New", monospace'; }

.swatch {
  margin: 0 24px 1.5em 0;
  padding: 0;
  float: left; }

.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px; }

.swatch-row span {
  display: block;
  float: left;
  width: 100px;
  height: 100px; }

.swatch-base span:nth-child(1) {
  background-color: #00a1cb; }
.swatch-base small::after {
  content: "#00a1cb";
  color: #00a1cb;
  display: block; }

.swatch-secondary span:nth-child(1) {
  background-color: #cb2a00; }
.swatch-secondary small::after {
  content: "#cb2a00";
  color: #cb2a00;
  display: block; }

.swatch-compcolor span:nth-child(1) {
  background-color: #da802d; }
.swatch-compcolor small::after {
  content: " #da802d";
  color: #da802d;
  display: block; }

.swatch-alert span:nth-child(1) {
  background-color: #fce4cf; }
.swatch-alert small::after {
  content: "#fce4cf";
  color: #fce4cf;
  display: block; }

.swatch-error span:nth-child(1) {
  background-color: #da4f49; }
.swatch-error small::after {
  content: "#da4f49";
  color: #da4f49;
  display: block; }

.swatch-info span:nth-child(1) {
  background-color: #a5dddf; }
.swatch-info small::after {
  content: "#a5dddf";
  color: #a5dddf;
  display: block; }

.swatch-success span:nth-child(1) {
  background-color: #5bb75b; }
.swatch-success small::after {
  content: "#5bb75b";
  color: #5bb75b;
  display: block; }

.swatch-warning span:nth-child(1) {
  background-color: #faa732; }
.swatch-warning small::after {
  content: "#faa732";
  color: #faa732;
  display: block; }

.caja-animacion, .hover {
  width: 100%;
  padding: 1em;
  background-color: #bfbfbf;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 1em;
  border-radius: 2px; }
  .caja-animacion .cursor, .hover .cursor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    background-color: gray;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
  .caja-animacion:hover .cursor, .hover:hover .cursor {
    left: 100%;
    margin-left: -20px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }

.hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .hover:hover {
    background-color: #00a1cb; }
  .hover strong::after {
    content: ": 0.3s";
    font-weight: normal; }

.transition::after {
  content: ": 0.8s";
  font-weight: normal; }

figure {
  width: 24%;
  float: left;
  margin-right: 1%; }

/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Activa esta hoja de estilos para detectar visualmente cualquier
 * anidación impropia o marcado potencialmente inválido.
 *
 * Rojo           ==      Definitivamente un error
 * Amarillo       ==      a revisar
 * Ninguno        ==      debería estar bien
 *
 * Este método de validación no es más que una guía, no te bases en el
 * para validar tu marcado
 *
 */
/**
 * Hay elementos vacíos?
 */
:empty {
  outline: 5px solid yellow; }

/**
 * Las imágenes requieren el atributo ALT, un ALT vacío no es del todo malo
 * pero una imagen sin ALT definitivamente está mal.
 */
img {
  outline: 5px solid red; }

img[alt] {
  outline: none; }

img[alt=""] {
  outline: 5px solid yellow; }

/**
 * Los links algunas veces, no siempre, se benefician del atributo "title".
 * Links sin 'title' no son inválidos, pero es buena idea revisar.
 */
a {
  outline: 5px solid yellow; }

a[title] {
  outline: none; }

/**
 * Revisa los "href" con contenido dudoso.
 */
a[href="#"],
a[href*="javascript"] {
  outline: 5px solid yellow; }

/**
 * El atributo 'target=""' es.... bueno, revisa.
 */
a[target] {
  outline: 5px solid yellow; }

/**
 * Asegúrate que una lista solo anida LI's
 */
ul > *:not(li),
ol > *:not(li) {
  outline: 5px solid red; }

/**
 * Deberíamos asignar un atributo 'scope' a los th
 * http://bit.ly/1aHBDgW
 */
th {
  outline: 5px solid yellow; }

th[scope] {
  outline: none; }

/**
 * los tr hijos de 'table' no son buenos, ¿necesitabas un 'thead' / 'tbody'?
 */
table > tr {
  outline: 5px solid yellow; }

/**
 * `tfoot` debe estar *antes* de `tbody`.
 */
tbody + tfoot {
  outline: 5px solid yellow; }

/**
 * Forms necesitan del atributo `action`
 */
form {
  outline: 5px solid red; }

form[action] {
  outline: none; }

/**
 * Varios elementos de formularios requieren atributos. 'input' necsita de 'type'
 * 'textarea' necesita `rows' y 'cols' y 'submit' necesita del atributo 'value'.
 */
textarea,
input {
  outline: 5px solid red; }

input[type] {
  outline: none; }

textarea[rows][cols] {
  outline: none; }

input[type=submit] {
  outline: 5px solid red; }

input[type=submit][value] {
  outline: none; }

/**
 * Evitamos estilos _inline_ a ser posible.
 */
[style] {
  outline: 5px solid yellow; }

/**
 * Deberías evitar IDs para CSS.
 */
[id] {
  outline: 5px solid yellow; }
