



/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Let's define the settings file here, or the partials to be included.
 * This way we can have different .css files compiled with different partials each.
 */
@import "partials";