/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .scss) que se van
 * a compilar en el CSS definitivo: /css/style.css.
 * Si no usas algún módulo, es recomendable que elimines
 * o comentes su inclusión para no tener estilos innecesarios en tu CSS final
 * y optimizar lo máximo posible.
 */

@import "contenido.scss";

@import "lib/variables.scss";

@import "lib/mixins.scss";

@import "lib/flex.scss";

@import "lib/placeholders.scss";

@import "base/reset.scss";

@import "base/fuentes.scss";

@import "base/links.scss";

@import "componentes/tablas.scss";

@import "componentes/botones.scss";

@import "base/elementos.scss";

@import "base/tipografia.scss";

@import "componentes/navegacion.scss";

@import "componentes/paginacion.scss";

@import "base/formularios.scss";

@import "layout/sitio.scss";

@import "componentes/texturas.scss";

@import "layout/breakpoints.scss";

// @import "debug.scss";  // Utilizado para comprobar que el marcado HTML no contenga errores