@if $incluir-botones == true{





/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
/*
 * Definimos los botones y sus variantes
 */


 /**
 * .btn es la clase principal para definir un botón
 */
%btn {
	display: inline-block;
	line-height: $baselineheight * 2;
	color: $buttoncolor;
	text-align: center;
	vertical-align: middle;
	font-size: fs(normal);
	white-space: nowrap;
	background-color: $buttonbackground;
	border-top: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
    border-right: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
    border-bottom: ($buttonborderwidth * 2) $buttonborderstyle $buttonbordercolor;
    border-left: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
	cursor: pointer;
	margin:0;
	padding-top:   0;
   	padding-bottom:0;
   	padding-right:1em;
   	padding-left: 1em;
	border-radius: $radius;
    @include transition(all $hovertransition ease-in);

	/**
 	* Nadie quiere un botón con texto subrayado cuando
 	* hacemos hover.
 	*/

	&:hover {
		text-decoration: none;
        color: $buttoncolor;
	}
	&:active,
    &:focus{
        outline:none;
    }
    &:visited {
	color: $buttoncolor;
	}
}

/*------------------------------------*\
    $BOTONES-VARIANTES
\*------------------------------------*/
/**
 * Variantes de los botones: color para dar sensaciones.
 *
 */


/**
* Inputs con estilo de botones
*/
input[type="submit"].btn:hover {
	border-color: $buttonbordercolor;
}


/**
* Botón no disponible
*/
.btn--disabled {
    @extend %btn;
    @include opacity(.5);
	cursor: not-allowed;
    background-color: $lightergrey;
}





/**
* Botón de Info
*/
.btn--info {
    @extend %btn;
    color: $color-info;
    &:hover {
        color: $color-info;
    }
    &:visited {
        color: $color-info;
    }
}




/**
* Botón de Error
*/
.btn--error {
    @extend %btn;
	color: $color-error;
	&:hover {
        color: $color-error;
	}
	&:visited {
		color: $color-error;
	}
}




/**
* Botón de advertencia
*/
.btn--warning {
    @extend %btn;
    color: $color-warning;
    &:hover {
        color: $color-warning;
    }
    &:visited {
        color: $color-warning;
    }
}




/**
* Botón de OK
*/

.btn--success {
    @extend %btn;
    color: $color-success;
    &:hover {
        color: $color-success;
    }
    &:visited {
        color: $color-success;
    }
}



/**
* Botón principal
*/

.btn--primary {
    @extend %btn;
	color: $basecolor;
	&:hover {
		color: $basecolor;
	}
	&:visited {
		color: $basecolor;
	}
}





/*------------------------------------*\
    $BOTONES-TAMAÑOS
\*------------------------------------*/
/**
 * Variantes de los botones por tamaño.
 *
 */

.btn--mini{
    padding-right:0.5em;
    padding-left: 0.5em;
    line-height:1.5;
    font-size: fs(x-small);
}

.btn--small{
    padding-right:1.5em;
    padding-left: 1.5em;
    line-height:2;
    font-size: fs(small);
}

.btn--large{
    padding-right:3em;
    padding-left: 3em;
    line-height:3;
    font-size: fs(big);
}




/*------------------------------------*\
    $BOTONES-GRUPOS
\*------------------------------------*/
/**
 * Con esta clase podemos agrupar los botones
 * en grupos horizontales.
 *
 */
.btn-group {
	position: relative;
    @extend %clearfix;
    [class^="btn--"], [class*=" btn--"] {
        position: relative;
        border-radius: 0;
        float: left;
        margin-left: -1px;
        &:first-child {
            margin-left: 0;
            @include border-radius(0, 0, $radius, $radius);
        }
        &:last-child {
            @include border-radius($radius, $radius, 0, 0);
        }
    }
}



} // endif