@if $incluir-grid == true{




/*------------------------------------*\
    $grid
\*------------------------------------*/


* {
  box-sizing: border-box;
}
.grid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

}

[class^="item-"], [class*=" item-"] {
  background-color: pink;
  flex-shrink: 0;
    flex-grow: 1;
    margin: $gap / 2;
    padding: 5px;
    min-height: 100px;  // remove, it's only for presentation purposes.
}

@for $i from 1 to ($grid-size + 1) {
  // Total size (We would need to substract the margin to avoid wrapping);
  $width : 100 / $grid-size * $i * 1%;

  .item-#{$i} {
    flex-basis: 100%;
      @include respond-to(medium) {
        flex:0 0 calc(#{$width} - #{$gap});
    }
  }
}

} // end if