@if $incluir-texturas == true{





/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
// Más estilos adicionales:
// http://twitter.github.com/bootstrap/components.html#alerts"
// https://github.com/twitter/bootstrap/blob/master/less/alerts.less"


.alert {
	margin-bottom : $baselineheight;
	padding : 8px 35px 8px 14px;
	background-color : $color-alert;
	border : $alertborderwidth $alertborderstyle $alertbordercolor;
	font-family : $basefont;
	font-size: fs(small);
	color : $alerttext;
	border-radius: $radius;

	.alert--heading {
		color : inherit;
	}

	.close {
		position : relative;
		top : -2px;
		right : -21px;
		float : right;
		font-size: fs(big);
		font-weight : bold;
		line-height : 18px;
		color : inherit;
	}
}

	.alert--success {
		background-color : $alertsuccesscolor;
		border-color : $alertsuccessborder;
		color : $alertsuccesstext;
	}

	.alert--warning {
		background-color : $alertwarningcolor;
		border-color : $alertwarningborder;
		color : $alertwarningtext;
	}

	.alert--error {
		background-color : $alerterrorcolor;
		border-color : $alerterrorborder;
		color : $alerterrortext;
	}

	.alert--info {
		background-color : $alertinfocolor;
		border-color : $alertinfoborder;
		color : $alertinfotext;
	}

	.alert--inverse {
		background-color : $alertinversecolor;
		border-color : $alertinverseborder;
		color : $alertinversetext;
	}

// alert block

	.alert--block {
		padding-top : 14px;
		padding-bottom : 14px;

		.alert--heading {
			margin-bottom : $baselineheight / 8;
			font-size : inherit;
			font-weight : bold;
		}

		> p,
		> ul {
			margin-bottom : 0;
		}

		p + p {
			margin-top : 5px;
		}
	}

// BADGES ====================================================

.badge {
	padding : 1px 9px 2px;
	font-size: fs(small);
	white-space : nowrap;
	border-radius: $radius;
	color : $badgecolor;
	background-color : $badgebackground;
	@include transition(background-color .25s 0 linear);

	&:hover {
		color : $badgecolor;
		text-decoration : none;
		cursor : pointer;
	}
}

	.badge--error {
		background-color : $color-error;


		&:hover {
			background-color : darken($color-error, 20%);
		}
	}

	.badge--warning {
		background-color : $color-warning;


		&:hover {
			background-color : darken($color-warning, 20%);
		}
	}

	.badge--success {
		background-color : $color-success;
		color : darken($color-success, 40%);
		&:hover {
			background-color : darken($color-success, 20%);
		}
	}

	.badge--info {
		background-color : $color-info;
		color : darken($color-info, 40%);

		&:hover {
			background-color : darken($color-info, 20%);
		}
	}

	.badge--inverse {
		background-color : $color-info;
		color : $white;

		&:hover {
			background-color : darken($color-info, 20%);
			color : $white;
		}
	}
	.badge--icon {
		display: inline-block;
		color: $badgecolor;
		border: 1px solid $bordercolor;
		border-radius: $radius;
		padding: $gutterwidth / 2;
		background-color: $badgebackground;
		text-align: center;
	}

// Para más gradientes: https://github.com/twitter/bootstrap/blob/master/less/mixins.less

// WELL ====================================================

.well {
	min-height : 21px;
	padding : 11px;
	border-radius: $radius;
	margin-bottom : $baselineheight;
	background-color : $wellbackground;
	border : $wellborderwidth $wellborderstyle $wellbordercolor;
	@include box-shadow(inset 0 1px $wellshadowblur $wellshadow);

	p:last-child {
		margin-bottom : 0;
	}
}

	.well--large {
		padding : 22px;
	}

	.well--small {
		padding : 6px;
	}

// Web Colours
::-moz-selection {
	background-color : lighten($basecolor, 65%);
	color : $basecolor;
	text-shadow : none;
}

::selection {
	background-color : lighten($basecolor, 65%);
	color : $basecolor;
	text-shadow : none;
}

} // endif