$bp1 : 45em;
$media-queries-supported : false;
$no-mq-classname: ".ie8-sucks";

@mixin media-query-bp($unit, $query1: min, $query2: width, $target: "all") {
	$mqtarget: "";
	// Check if media queries are supported
	@if $media-queries-supported == true {
		@if $target != "" {
			@media #{$target} and (#{$query1}-#{$query2}: #{$unit}) {
				@content;
			}
		}
		@else {
			@media (#{$query1}-#{$query2}: #{$unit}) {
				@content;
			}
		}
	}
	@else {
		#{$no-mq-classname} & {
			@content;
		}
	}
}

.texto {
	color:red; 
	@include media-query-bp($bp1,max,device-width,screen) {
		color: blue;	
	}
}