//- Define all the colors variables in setings.scss, withoutthe "$"
- var colors = ['basecolor', 'basecolor-light', 'secondary', 'bordercolor', 'compcolor']
- var greycolors = ['white', 'lightergrey', 'lightgrey', 'grey', 'darkgrey','darkergrey','black']
- var alertcolors = ['color-alert', 'color-error', 'color-info', 'color-success', 'color-warning']