/*------------------------------------*\
    $PATRONES
\*------------------------------------*/
/**
 * ESTE ARCHIVO ES USADO SÓLO  POR LA GUÍA DE PATRONES
 * en /patrones/index.html y /patrones/page.html
 * es recomendable eliminar su inclusión en el style.less
 * a la hora de compilar el CSS de la web.
 */
main {
	@include max-width(1024px);
}
section {
	width: 100%;
	margin-bottom: $baselineheight * 2;
	background-color: $white;
	@extend .clearfix;
	padding: ($baselineheight * 2) $gutterwidth $baselineheight;
	border-radius:$radius * 2;
	border:1px solid $lightgrey;
	position:relative;
	h2.title {
		background-color:$secondary;
		position: absolute;
		top:0;
		left:0;
		right: 0;
		padding:($baselineheight / 4);
		@include font-size(12);
		font-weight: normal;
		small {
			color: $black;
			font-weight: bold;
		}
	}
}
.altfont {
font-family:$altfont;
}

.basefont::after {
	content: "#{$basefont}";
}
.altfont::after {
	content: "#{$altfont}";
}
.code::after {
	content: "#{$codefont}";
}
// swatches

.swatch {
margin : 1%;
padding : 1em;
@extend .clearfix;
width : 31.333%;
border:1px solid $lightergrey;
float:left; }

.swatch-row {
display : block;
margin : 0;
padding : 0;
 }


.swatch-row span {
display : block;
float : left;
width : 100%;
height : 100px; }

// base

.swatch-base {
	span:nth-child(1) {
		background-color:$basecolor;
 	}
 	small::after {
		content: "#{$basecolor}";
		color: $basecolor;
		display: block;
	}
}



// Secondary

.swatch-secondary {
	span:nth-child(1) {
		background-color:$secondary;
	}
	small::after {
		content: "#{$secondary}";
		color: $secondary;
		display: block;
	}

}


// Complementario

.swatch-compcolor {
	span:nth-child(1) {
		background-color:$compcolor;
	}
	small::after {
		content: " #{$compcolor}";
		color: $compcolor;
		display: block;
	}
}


// alert

.swatch-alert {
	span:nth-child(1) {
		background-color:$alertcolor;
	}
	small::after {
		content: "#{$alertcolor}";
		color: $alertcolor;
		display: block;
	}


}


// error

.swatch-error {
	span:nth-child(1) {
		background-color:$errorcolor;
	}
	small::after {
		content: "#{$errorcolor}";
		color: $errorcolor;
		display: block;
	}

}


// info

.swatch-info {
	span:nth-child(1) {
		background-color:$infocolor;
	}

	small::after {
		content: "#{$infocolor}";
		color: $infocolor;
		display: block;
	}

}


// success

.swatch-success {
	span:nth-child(1) {
		background-color:$successcolor;
	}
	small::after {
		content: "#{$successcolor}";
		color: $successcolor;
		display: block;
	}


}


// warning

.swatch-warning {
	span:nth-child(1) {
		background-color:$warningcolor;
	}

	small::after {
		content: "#{$warningcolor}";
		color: $warningcolor;
		display: block;
	}

}


.caja-animacion, .hover {
	width: 100%;
	padding:1em;
	background-color: $lightgrey;
	text-align: center;
	position: relative;
	cursor: pointer;
	margin-bottom: 1em;
	border-radius: $radius;
	.cursor {
		position: absolute;
		top: 0;
		left: 0;
		bottom:0;
		width: 20px;
		background-color: $grey;
		@include border-radius(0,0,$radius, $radius);
		@include transition(all $animationtime ease-in-out);
	}
	&:hover .cursor {
		left: 100%;
		margin-left: -20px;
		@include border-radius($radius, $radius,0,0);
			}
}
.hover {
	@include transition(all $hovertransition ease-out);
	&:hover {
		background-color: $basecolor;
	}
	strong::after {
			content: ': #{$hovertransition}';
			font-weight: normal;
		}
}
.transition::after {
			content: ': #{$animationtime}';
			font-weight: normal;
		}


figure {
	width: 20%;
	float: left;
	margin-right: 5%;
}