/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .scss) que se can
 * a compilar en el CSS definitivo: /css/style.css.
 * Si no usas algún módulo, es recomendable que elimines
 * o comentes su inclusión para no tener estilos innecesarios en tu CSS final
 * y optimizar lo máximo posible.
 */

@import "../../scss/contenido.scss";

@import "../../scss/lib/variables.scss";

@import "../../scss/lib/mixins.scss";

@import "../../scss/lib/placeholders.scss";

@import "../../scss/componentes/reset.scss";

@import "../../scss/componentes/fuentes.scss";

@import "../../scss/componentes/links.scss";

@import "../../scss/componentes/tablas.scss";

@import "../../scss/componentes/botones.scss";

@import "../../scss/componentes/elementos.scss";

@import "../../scss/componentes/tipografia.scss";

@import "../../scss/layout/navegacion.scss";

@import "../../scss/layout/paginacion.scss";

@import "../../scss/componentes/formularios.scss";

@import "../../scss/layout/sitio.scss";

@import "../../scss/componentes/texturas.scss";

@import "../../scss/layout/breakpoints.scss";


@import "patron.scss";
