include lib/globals.jade
doctype html

html(lang="en")

head
    meta(charset="UTF-8")
    title= currentpage
    link(rel='stylesheet', href='/styleguides/css/styleguide.css')

body
    .topbar
        img(src="/styleguides/img/wakkos.jpg", alt="")
        small
            a(href="https://github.com/Wakkos/Wakkos-CSS-Framework") Wakkos CSS Framework

    main
        block vars
        block nav
        section
            block content

    footer.main-footer
