



/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
figure {
	margin-bottom : $baselineheight;

	img {
		margin-bottom : $baselineheight / 4;
	}

	figcaption {
		display : block;
		font-weight : normal;
		@include font-size(14);
		font-style : italic;
		color : $grey;
	}
}