extends ../template

//- Page Variables
block vars
    - var currentpage = "Buttons"

block nav
    include nav
block content


    //- Page Content
    .stcontainer
        span.sttitle Buttons
        p All buttons comes with the extend #[code %btn] block to look like a button, then, we add the modifier: #[code .btn--modifier]
        p All these #[code %extend] are made to simplify CSS as detailed in #[a(href="https://twitter.com/una") Una Kravets] method #[a(href="http://una.im/classy-css/#💁") Atomic OOBEMITSCSS].
        span.sttitle Button colors
        div.margin-bottom
            a.btn--primary(href="#") Modifier: btn--primary
        div.margin-bottom
            a.btn.btn--disabled(href="#") Modifier: btn--disabled
        div.margin-bottom
            a.btn.btn--info(href="#") Modifier: btn--info
        div.margin-bottom
            a.btn.btn--error(href="#") Modifier: btn--error
        div.margin-bottom
            a.btn.btn--warning(href="#") Modifier: btn--warning
        div.margin-bottom
            a.btn.btn--success(href="#") Modifier: btn--success
        pre
            code(class="language-css")
                |p { color: red }