extends ../template

//- Page Variables
block vars
    - var currentpage = "Typography"

block nav
    include nav
block content


    //- Page Content
    .stcontainer
        span.sttitle Basic Form
        form
            fieldset
                legend Legend
                label(for="text") Input type=text
                input(type="text", id="text", required)

                label(for="email") Input type=email
                input(type="email", id="email", required)

                label(for="url") Input type=url
                input(type="url", id="url", required)

                label(for="tel") Input type=tel
                input(type="tel", id="tel", required)



            input(type="submit", value="Test me")
        small The visual validation is created through CSS and it depends on the field type to #[i validate]. It's is only for a VISUAL INFORMATION to the user, don't relay your form interaction on CSS.

    .stcontainer
        span.sttitle Input width variation
        label #[code .input-small]
            input(type="text", class="input-small")

        label #[code .input-medium]
            input(type="text", class="input-medium")

        label #[code .input-big]
            input(type="text", class="input-big")