input(type="checkbox", id="checkbox__hack", class="checkbox__hack")
label(for="checkbox__hack", class="checkbox-hack__label")
nav.nav
    ul.nav__list
        +nav('index')
        +nav('typography')
        +nav('form')
        +nav('buttons')
        +nav('textures')
        +nav('tables')