.topbar {
    background-color: darken($color-brand, 50);
    padding: $gutterwidth / 4;
    margin-bottom: $baseline;
    img {
        width: 30px;
        margin-right: $gutterwidth / 4;
    }
}

main {
    @include max-width(600px);
}
.stcontainer {
    background-color: $color-white;
    padding: $baselineheight$gutterwidth;
    border: 1px solid $color-lightgrey;
    border-radius: $radius;
    margin-bottom: $baseline;
}
    .sttitle {
        display: block;
        border-bottom: 1px solid $color-lightergrey;
        margin-bottom: $baseline;
        font-size: fs(x-small);
        line-height: 2;
        color: $color-grey;
    }

    .stcolor {
        display: inline-block;
        border-radius: $radius;
        width: 100px;
        line-height: 50px;
        text-align: center;
        position: relative;
        margin-right: $gutterwidth;
        margin-bottom: $gutterwidth * 2;
        &:before {
            font-size: fs(x-small);
        }
        &:after {
            content: "$color-brand";
            position: absolute;
            font-size: fs(x-small);
            color: $color-black;
            text-align: center;
            bottom: -40px;
            left: 0;
        }
    }
        // For the moment, I insert colors variables manually, until I find a way to make
        // a less painfull process
        .basecolor {
            background-color: $color-brand;
            border: 1px solid darken($color-brand, 20);
            color: invert($color-brand);
            &:before {
                content: "#{$color-brand}";
            }
            &:after {
                content: "$color-brand";
            }
        }
        .basecolor-light {
            background-color: $color-brand-light;
            border: 1px solid darken($color-brand-light, 20);
            color: invert($color-brand-light);
            &:before {
                content: "#{$color-brand-light}";
            }
            &:after {
                content: "$color-brand-light";
            }
        }

        .secondary {
            background-color: $secondary;
            border: 1px solid darken($secondary, 20);
            color: invert($secondary);
            &:before {
                content: "#{$secondary}";
            }
            &:after {
                content: "$secondary";
            }
        }

        .bordercolor {
            background-color: $color-border;
            border: 1px solid darken($color-border, 20);
            color: invert($color-border);
            &:before {
                content: "#{$color-border}";
            }
            &:after {
                content: "$color-border";
            }
        }
        .compcolor {
            background-color: $compcolor;
            border: 1px solid darken($compcolor, 20);
            color: invert($compcolor);
            &:before {
                content: "#{$compcolor}";
            }
            &:after {
                content: "$compcolor";
            }
        }

        .white {
            background-color: $color-white;
            border: 1px solid darken($color-white, 20);
            color: invert($color-white);
            &:before {
                content: "#{$color-white}";
            }
            &:after {
                content: "$color-white";
            }
        }
        .lightergrey {
            background-color: $color-lightergrey;
            border: 1px solid darken($color-lightergrey, 20);
            color: invert($color-lightergrey);
            &:before {
                content: "#{$color-lightergrey}";
            }
            &:after {
                content: "$color-lightergrey";
            }
        }
        .lightgrey {
            background-color: $color-lightgrey;
            border: 1px solid darken($color-lightgrey, 20);
            color: invert($color-lightgrey);
            &:before {
                content: "#{$color-lightgrey}";
            }
            &:after {
                content: "$color-lightgrey";
            }
        }
        .grey {
            background-color: $color-grey;
            border: 1px solid darken($color-grey, 20);
            color: invert($color-grey);
            &:before {
                content: "#{$color-grey}";
            }
            &:after {
                content: "$color-grey";
            }
        }
        .darkgrey {
            background-color: $color-darkgrey;
            border: 1px solid darken($color-darkgrey, 20);
            color: invert($color-darkgrey);
            &:before {
                content: "#{$color-darkgrey}";
            }
            &:after {
                content: "$color-darkgrey";
            }
        }
        .darkergrey {
            background-color: $color-darkergrey;
            border: 1px solid darken($color-darkergrey, 20);
            color: invert($color-darkergrey);
            &:before {
                content: "#{$color-darkergrey}";
            }
            &:after {
                content: "$color-darkergrey";
            }
        }
        .black {
            background-color: $color-black;
            border: 1px solid darken($color-black, 20);
            color: invert($color-black);
            &:before {
                content: "#{$color-black}";
            }
            &:after {
                content: "$color-black";
            }
        }

        .color-alert {
            background-color: $color-alert;
            border: 1px solid darken($color-alert, 20);
            color: invert($color-alert);
            &:before {
                content: "#{$color-alert}";
            }
            &:after {
                content: "$color-alert";
            }
        }

        .color-error {
            background-color: $color-error;
            border: 1px solid darken($color-error, 20);
            color: invert($color-error);
            &:before {
                content: "#{$color-error}";
            }
            &:after {
                content: "$color-error";
            }
        }
        .color-info {
            background-color: $color-info;
            border: 1px solid darken($color-info, 20);
            color: invert($color-info);
            &:before {
                content: "#{$color-info}";
            }
            &:after {
                content: "$color-info";
            }
        }
        .color-success {
            background-color: $color-success;
            border: 1px solid darken($color-success, 20);
            color: invert($color-success);
            &:before {
                content: "#{$color-success}";
            }
            &:after {
                content: "$color-success";
            }
        }
        .color-warning {
            background-color: $color-warning;
            border: 1px solid darken($color-warning, 20);
            color: invert($color-warning);
            &:before {
                content: "#{$color-warning}";
            }
            &:after {
                content: "$color-warning";
            }
        }


// Typography
.sttitlebag {
    &:before {
        content: attr(data-header);
        display: inline-block;
        font-size: fs(x-small);
        margin-right: 1em;
        border: 1px solid darken($color-lightergrey, 10);
        border-radius: $radius;
        line-height: 1.6;
        width: 1.6em;
        text-align: center;
        font-family: $basefont;
        background-color: $color-lightergrey;
        color: $color-grey;
        vertical-align: middle;
    }
}

// Fonts
.basefont {
    font-family: $basefont;
    &:after {
        content: " #{$basefont}";
    }
}
.altfont {
    font-family: $altfont;
    &:after {
        content: " #{$altfont}";
    }
}
.codefont {
    font-family: $codefont;
    &:after {
        content: " #{$codefont}";
    }
}