




/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/**
*
* Le asignamos la clase .nav al ul que contenga la navegación:

		 <ul class="nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav {
  	//&:extend(.clearfix all);      /// TODO : Pasar a sass
  	> li {
    position: relative;
    display: inline-block;

	    > a {
	      position: relative;
	      padding: $navitempadding;
	      &:hover,
	      &:focus {
	        text-decoration: none;
	        background-color: $bordercolor;
	      }
	    }
	}
}


/**
*
* .nav--fit extiende a .nav y alarga la navegación
* para que ocupe el 100% de su contenedor

		 <ul class="nav nav--fit">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav--fit{
    display:table;
    width:100%;

    > li{
        display:table-cell;

        > a{
            display:block;
        }
    }
}



/**
*
* .nav--tabs extiende a .nav y crea la base para una navegación
* en pestañas.

		 <ul class="nav nav--tabs">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="products.html">Products</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contact us</a></li>
		</ul>
*
*/
.nav--tabs {
	border-bottom: 1px solid $navtabsbordercolor;
	> li {
	    margin-bottom: -1px;
		> a {
			display: block;
		}
	}
}