@if $incluir-navegacion == true{





/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/**
*
* La semántica va como sigue:

    <input type="checkbox" class="checkbox__hack" id="checkbox__hack">
    <label for="checkbox__hack" class="checkbox-hack__label"></label>
    <!-- OMG NO SEMANTIC HTML, well, it help us to avoid JS in the menu slide in mobile -->

    <nav class="nav">
        <ul class="nav__list">
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
        </ul>
    </nav>

* Y no te olvides de modificar las variables en el archivo de variables ($nav-**)
*/

.nav {
    position: absolute;
    top:0;
    right:0;
    z-index: 10;
    width:  $nav-width;
    height: $nav-height;
    color: $nav-color;
    overflow: hidden;
    cursor: pointer;

    /**
     * Place a hamburger (don’t hate the player, hate the game...) icon
     * over the top of our nav element.
     */
    &:after {
        content: "☰";
        font-size: $nav-icon-size;
        width: 1em;
        line-height: 1;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top:  -($nav-icon-size / 2);
        margin-left: -($nav-icon-size / 2);
     }
     @include respond-to(medium) {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        height: auto;
        cursor: auto;
        &:after {
            content: "";
            content: none;
        }
     }
}

    .nav__list {
        list-style: none;
        margin:  0;
        padding: 0;
        //Este padding top baja el contenido respecto a la hamburguesa
        padding-top: $nav-height;
        padding-left: $gutterwidth;
        padding-right: $gutterwidth;
        position: absolute;
        top:   0;
        right:  0;
        background-color: $nav-background;
        box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);

        /*
        * Usamos VW porque con % tomaría el tamaño del contenedor,
        * que es $nav-width (unos 48px) y no se ve na' e ná
        */
        width: 100vw;
        @include respond-to(medium) {
            padding-top: 0;
            position: relative;
            top: auto;
            left: auto;
            width: 100%;
            height: auto;
            box-shadow: none;
            margin-bottom: $gutterwidth;
        }
      }
        .nav__item {
            line-height: 2;
            border-bottom: 1px solid $bordercolor;
            text-transform: capitalize;
            text-align: right;
            a {
                display: block;
            }

            @include respond-to(medium) {
                display: inline-block;
                border-bottom: none;
                border-right: 1px solid $bordercolor;
                text-align: center;
                padding: 0 $gutterwidth;
            }
        }
// Ocultamos el checkbox
     .checkbox__hack {
        display: none;

        /*
         * Quitamos el overflow:hidden para que se muestre el menú cuando
       * el checkbox está :checked
         * Eso es todo, un overflow. Con eso mostramos u ocultamos el menú.
         * (Eso y el content del after para que sea una X y no la hamburguesa)
         */

        &:checked {
            ~ .nav {
              overflow: visible;

              &::after {
                content:"x";
              }
            }
         }
     }


 // Estilizamos el label para que aparezca JUSTO encima de la navegación
    .checkbox-hack__label {
        position: absolute;
        top:0;
        left:0;
        z-index: 100;
        width:  100%;
        height: $nav-height;
        color: $nav-color;
        overflow: hidden;
        cursor: pointer;
        margin:0;
        z-index: 100;
        @include respond-to(medium) {
            display: none;
        }
    }
} //endif