




/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/**
*
* La semántica va como sigue:

    <input type="checkbox" class="checkbox__hack" id="checkbox__hack">
    <label for="checkbox__hack" class="checkbox-hack__label"></label>
    <!-- OMG NO SEMANTIC HTML, well, it help us to avoid JS in the menu slide in mobile -->

    <nav class="nav--top">
        <ul class="nav--top__list">
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
        </ul>
    </nav>

* Y no te olvides de modificar las variables en el archivo de variables ($nav-**)
*/

.nav--top {
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    width:  $nav-width;
    height: $nav-height;
    color: $nav-color;
    overflow: hidden;
    cursor: pointer;

    /**
     * Place a hamburger (don’t hate the player, hate the game...) icon
     * over the top of our nav element.
     */
    &:after {
        content: "☰";
        font-size: $nav-icon-size;
        width: 1em;
        line-height: 1;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top:  -($nav-icon-size / 2);
        margin-left: -($nav-icon-size / 2);
     }
}

    .nav--top__list {
    list-style: none;
    margin:  0;
    padding: 0;
    //Este padding top baja el contenido respecto a la hamburguesa
    padding-top: $nav-height;
    position: absolute;
    top:   0;
    left:  0;
    background-color: $nav-background;
    box-shadow:inset -100px -50px 100px 100px rgba(0,0,0,0.2);
    /*
    * Usamos VW porque con % tomaría el tamaño del contenedor,
    * que es $nav-width (unos 48px) y no se ve na' e ná
    */
    width: 200px;
    z-index: -1;
  }
// Ocultamos el checkbox
     .checkbox__hack {
        display: none;

        /*
         * Quitamos el overflow:hidden para que se muestre el menú cuando
       * el checkbox está :checked
         * Eso es todo, un overflow. Con eso mostramos u ocultamos el menú.
         * (Eso y el content del after para que sea una X y no la hamburguesa)
         */

        &:checked {
            ~ .nav--top {
              overflow: visible;

              &::after {
                content:"x";
              }
            }
         }
     }


 // Estilizamos el label para que aparezca JUSTO encima de la navegación
     .checkbox-hack__label {
        position: absolute;
        top:0;
        left:0;
        z-index: 100;
        width:  100%;
        height: $nav-height;
        color: $nav-color;
        overflow: hidden;
        cursor: pointer;
        margin:0;
        z-index: 100;
     }